nav ul {
  list-style: none;
}
nav li {
  margin: 5px 0;
}

nav a {
  display: block;
  padding: 5px 0px 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #666;
  /* border-left: 5px transparent solid; */
  transition: 0.2s
}

nav a:hover {
  transform: translateX(5px);
}
nav a.start-active {
  border-left: 5px red solid;
  transform: translateX(0);
}
nav a.products-active {
  border-left: 5px rgb(179, 0, 179) solid;
  transform: translateX(0);
}
nav a.contact-active {
  border-left: 5px rgb(67, 211, 91) solid;
  transform: translateX(0);
}
nav a.admin-active {
  border-left: 5px rgb(255, 81, 168) solid;
  transform: translateX(0);
}